

<h1> Please Create a Username! </h1>

Username: <input type="text" name="email"> <br><br>

&nbsp &nbsp Email:&nbsp &nbsp <input type="text" name="email" placeholder="email@email.com"> <br><br>

Password: <input type="password" name="password"> <br><br> 
<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>

<input type='submit' value='Log In' action="/recipes/index"> 

</form>

